<template name="players">
    {{#each players}}
        {{> player}}
    {{/each}}
</template>

<template name="player">
    {{#if playerOnPlayground}}
        <div class="front-cone">
            
        </div>
        <div class="back-cone">
                
        </div>
        <div class="rotation-handle">
            
        </div>
    {{/if}}
    <div class="player"
        style="
            border: solid 2px {{playerBorderColor}};
            background-color: {{playerColor}};
            height: {{playerHeight}}px;
            width: {{playerWidth}}px;
            top: {{yOffset}}px;
            left: {{xOffset}}px;
            transform: rotate({{playerRotation}}deg);
            -moz-transform: rotate({{playerRotation}}deg);
            -webkit-transform: rotate({{playerRotation}}deg);
        "></div>
</template>