<template name="playground">
    <div class="playground" style="width: {{width}}; height: {{height}}; top: {{yOffset}}; left: {{xOffset}};">
    </div>
    <div class="opponent-side" style="width: {{sideWidth}}; height: {{sideHeight}}; top: {{opponentYOffset}}; left: {{opponentXOffset}};">
    </div>
    <div class="net" style="width: {{netWidth}}; height: {{netHeight}}; top: {{netYOffset}}; left: {{netXOffset}};">
    </div>
    <div class="own-side" style="width: {{sideWidth}}; height: {{sideHeight}}; top: {{ownYOffset}}; left: {{ownXOffset}};">
    </div>
</template>