/* CSS declarations go here */
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.playground {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid darkslategray;
    border-radius: 4px;
    position: fixed;
    margin: 0px;
    padding: 0px;
    background: -moz-radial-gradient(center, ellipse cover,  #ffdb28 30%, #c4921f 91%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,#ffdb28), color-stop(91%,#c4921f)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffdb28 30%,#c4921f 91%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffdb28 30%,#c4921f 91%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffdb28 30%,#c4921f 91%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffdb28 30%,#c4921f 91%); /* W3C */
}

.opponent-side {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid black;
    display: inline-block;
    position: fixed;
    background-color: blueviolet;
    opacity: 0.5;
}

.own-side {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid black;
    display: inline-block;
    position: fixed;
    background-color: greenyellow;
    opacity: 0.3;
}

.net {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    position: fixed;
    background-color: darkgreen;
    border: solid 1px black;
}

.player {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    position: fixed;
    border-radius: 35%;
    -moz-border-radius: 35%;
    -webkit-border-radius: 35%;
}

.cone {
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 100px solid red;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
}